body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    
    border-left: 1px solid #fff;
}


.nav-link:hover {
    
    border-left: 1px solid #fff;
}

.font-s {
    font-size: 14px;
}
.font-s2 {
    font-size: 12px;
}

.c-lightgrey {
    color:lightgray;
}


.carousel-caption-custom {
    position: absolute;
    top:50%;
    right: 0%;
    left:50%;
    bottom:auto;
    transform: translate(-50% , -50%);
    z-index: 10;
    padding:0%;
    color: #fff;
}
.bg-image1 {
    background:url(../../Images/image1.jpg)
    no-repeat top / cover;
    height: 75vh;
}
.backgr-fixed {
    background-attachment: fixed;
    
} 
.bg-image2 {
    background:url(../../Images/image2.jpg)
    no-repeat top / cover;
    height: 75vh;
}
.bg-image3 {
    background:url(../../Images/image3.jpg)
    no-repeat top / cover;
    height: 75vh;
}
.bg-image4{
    background: url(../../Images/lights.jpg)
    no-repeat center / cover;
    background-attachment: fixed;
}
.bg-image5 {
    background: url(../../Images/media.jpg)
    no-repeat center / cover;
    background-color:rgba(0,0,0,0.7);
    background-blend-mode: darken;
    background-attachment: fixed;
}

.btn.focus, 
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem transparent;
    
}

.bg-darkcustom {
    background-color:#282627;
}
.bg-black {
    background-color:#000;
}

.margin-neg {
    margin-top:-10%;
}

.line-height-custom {
    line-height: 1;
}
.bg-red {
    background-color: #ff0000;
}
.border-color {
    border-color:#ff0000;
}

.card > .list-group {
    border-top: transparent;
    border-bottom: transparent;
}
.card-body-p {   
    padding: 2%;
}
.blockquote {
    font-size: 80%;
}
.w-img75 {
    width: 75%;
}

.carousel-item-test {
    height:10vh;
}
.carousel-caption-test {
    position: absolute;
    top:0%;
    right: 10%;
    left:10%;
    bottom:100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.border-line {
    border:1px solid #000;
}

@media (max-width:768px){
    .w-img100 {
        width:100%;
    }
}